
<tr id="row-{{id}}" class="row">
    <td>{{customer_name}}</td>
    <td>{{item}}</td>
    {{#if delivered}}
    <td>{{price}}</td>
    {{else}}
    <td>{{time}}</td>
    <td><img src="/assets/images_icons/start.png" class="add" id="add-button" data-id="{{id}}"/></td>
    <td><img src="/assets/images_icons/delete.png" class="delete" id="delete-button" data-id="{{id}}"/></td>
    <td><progress id="prog-{{id}}" data-time="{{time}}" class="progress-bar" value="0" max="100"></progress></td>
    {{/if}}
</tr>